@import "tailwindcss";

@theme {

    --color-chart-1: oklch(0.723 0.219 149.579);
    --color-chart-2: oklch(0.871 0.15 154.449);
    --color-button-1: oklch(98.5% 0 0);
    --color-button-2: oklch(92.2% 0 0);
    --color-button-3: oklch(0.205 0 0 );
    --color-button-4: oklab(0.205 0 0 / 0.9);
    --color-ring-1: oklch(55.6% 0 0);
    --color-primary-550: #00a63e;

    --color-primary-50: #fdfffd;
    --color-primary-100: #d1fae5;
    --color-primary-200: #a7f3d0;
    --color-primary-300: #6ee7b7;
    --color-primary-400: #34d399;
    --color-primary-500: #10b981;
    --color-primary-600: #7bf1a8;
    --color-primary-700: #059669;
    --color-primary-800: #059669;
    --color-primary-900: #064e3b;
    --color-primary-950: #022c22;

    --color-neutral-50: #f9fafb;
    --color-neutral-100: #f2f4f7;
    --color-neutral-200: #e5e8ed;
    --color-neutral-300: #d1d7df;
    --color-neutral-400: #b2bac8;
    --color-neutral-500: #909cb1;
    --color-neutral-600: #768297;
    --color-neutral-700: #314158;
    --color-neutral-750: rgba(255, 255, 255, 0.05);
    --color-neutral-800: #10182b;
    --color-neutral-900: #0f172b;
    --color-neutral-950: #020618;

    --font-sans: "Inter";
}

@variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply bg-white text-neutral-900 transition-colors duration-300;
        font-family: 'Inter', sans-serif;
    }

    .dark body {
        @apply bg-neutral-900 text-neutral-100;
    }
}

@layer components {
    .app {
        @apply min-h-screen pt-20 pb-8 px-4 transition-colors duration-300;
    }

    .card {
        @apply bg-white dark:bg-neutral-900 rounded-xl shadow-sm border border-neutral-200 dark:border-neutral-800 p-6 transition-all;
    }

    .btn {
        @apply px-4 py-2 rounded-lg font-medium transition-all duration-200;
    }

    .btn-primary {
        @apply bg-white text-black hover:bg-chart-2 focus:ring-2 focus:ring-primary-300 dark:focus:ring-primary-700;
    }

    .btn-outline {
        @apply border border-neutral-300 dark:border-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-800;
    }
}